.Toolbar {
  text-align: center;
  border:double 3px #282c34;
  min-height: 95vh;
  width: 100px;
  float: left;
  background-color: white;
}

.btn-group button {
  background-color: white; 
  display: inline-block;
  border: 1px solid white; 
  color: white; 
  padding: 10px 10px; 
  cursor: pointer; 
  float: center; 
  min-height: 5vh;
  width: 92px;
  vertical-align: middle
}


.btn-group button:hover {
  background-color: whitesmoke;
}